@*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

<div id="fh5co-about" data-section="about">
    <div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url(images/res_img_1.jpg)"></div>
    <div class="fh5co-2col fh5co-text">
        <h2 class="heading to-animate">About Us</h2>
        <p class="to-animate">
            <span class="firstcharacter">F</span>Serving Delicious and Typical Indian cuisine for the last 25 Years

            “Nobody knows everything, but everybody knows something”. As the quote says, we are also sure that many of you know a lot and most of you know at least something about the Indian Cuisine. In fact, the different families of Indian cuisine are recognized by their sophisticated and subtle use of many spices and herbs. Each family of this cuisine is known by a wide assortment of dishes and cooking techniques. These spices, assortments, and cooking techniques are just perfect to enhance the flavor of a dish and create unique flavors and aromas.

            What is “Sitar”?
            The Sitar is a stringed instrument that originated in India or Persia in the 1200’s. There are 6 or 7 main strings that the musician plucks with his right hand. The remaining 12 to 20 are sympathetic strings The Sitar is a stringed instrument that originated in India or Persia in the 1200’s. There are 6 or 7 main strings that the musician plucks with his right hand. The remaining 12 to 20 are sympathetic strings which vibrate when the main strings are played. The 16 to 20 adjustable metal frets are attached to the neck of the instrument and serve as fingering guide.

            The instrument is designed to play classical Indian compositions or “ragas”, which are based on 72 different scales.

            CoconutLagoon Restaurant is the one which is serving selected and typical Indian cuisine with its real taste in the capital city of Canada. Situated at the heart of downtown Ottawa, it is serving its wide range of food varieties - from mildly spicy to fiery hot, vegetarian and non-vegetarian, soups, naan bread, cheese or “paneer”, lentils, spinach, chicken - fish - lamb - shrimp, mushrooms, chickpeas, and homemade - style sweets. Just give a look at our menu on this web page for further details of our mouthwatering food items.

            We would like to request you to visit us and enjoy the typical and delicious foods in a cozy environment as suggested and recommended by the Ottawa Citizen, the New York Times, and many local magazines and newspapers. Once you visit us, we are confident that you will decide to make the Sitar Restaurant as a second kitchen for yourself, your family, and your friends.

            We treat our costumers as our guests. Hence, we believe in not only good customer service and reasonable price, but are also dedicated to the quality of food. Customer satisfaction is our motto and central to our service.

            Last but not the least, we must say that we are always loved by our customers; therefore, we are continuously serving them in a friendly and relaxing environment for the last 25 years.

            This represents only brief information about Sitar Restaurant, now it is your turn to provide us an opportunity to prove ourselves.

            We are eagerly waiting to welcome you in Sitar Restaurant! See you soon!

            From

            The Family of CoconutLagoon Restaurant
        </p>
        <p class="text-center to-animate">
            <a href="@Url.Action("Contact","Home")" class="btn btn-info"><i class="fa fa-plus fa-lg"></i>Get in touch</a>
        </p>
    </div>
</div>
